#portrait-slider {
  width:100%;
  font: 10pt normal Arial, sans-serif;  
  height: auto;  
  margin: 0 auto 0 auto;  
  text-align: center; 
  clear:both;
  float:left;
}
#portrait-slider .portrait-container {
  float:left;
  padding-bottom: 3px;
  margin-bottom: 20px;
  padding-right: 20px;
  padding-left: 0;
  margin-left: 0;
}
#portraitf-slider .prt-person {
    font-size: 1.2em;
}
.portrait-container p {
    margin: 0;
}

#portrait-slider .portrait-slide {
    cursor: pointer;
    float: left;
    margin: 5px 5px 5px 0;
    position: relative;
    overflow: hidden;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    background-size: cover;
}

.panel-info {
  color: #FFF;
  position: absolute;
  bottom: 10px;
  right: 10px;
  left: 10px;
  width: auto;
  text-align: left;
}
.panel-info h2 {
  font-family: "proxima-nova", Arial, sans-serif;
}
.panel-info h2.size-4 {
    font-size: 3.8em;
}
.panel-info h2.size-3 {
    font-size: 3.2em;
}
.panel-info h2.size-2 {
    font-size: 2.4em;
}
#portrait-slider .portrait-slide .panel-info {
    background-color: rgba(0,0,0,0.8);
    position: absolute;  
    color: #fff;  
    z-index: 100;  
    left: 0;  
    display:none;
    height:100%;
}
#portrait-slider .portrait-slide .panel-info p {
    padding: 2px;
}

#portrait-slider .portrait-slide .panel-info h3, #portrait-slider .portrait-slide .panel-info p {
    position: relative;
}
#portrait-slider .portrait-slide .panel-info h3 {
  font-size:1em;
}
.prt-caption {
    width: 100%;
}


/* Slim Desktop */
@media only screen and (max-width: 1090px){
  .panel-info h2.size-4 {
    font-size: 3.3em;
  }
  .panel-info h2.size-3 {
    font-size: 3em; 
  }
  .panel-info h2.size-2 {
    font-size: 2em;
  }

}
/* Mobile Portrait */
@media only screen and (max-width: 509px){

}